{% include "../header.html" %}
<style type="text/css">
	.vi{
		border-radius: 5px;
		background-color: #FFD232;
		border-style: solid;
	    border-color: #FFD232;
	    border-width: 2px;
	    color: #5d5d5d;
		margin-bottom: 5px;
		padding:15px;
		width:400px
	}
	.align-center { text-align: center; }
	.align-justify { text-align: justify; }
	.margin-center { 
		margin-left:auto;
		margin-right:auto;
	}
    .jb-black {
      color: black;
    }
</style>
{% include "../navbar.html" %}
    <h1>{{error}}</h1>
    <form action="/cctv/main/join" method="post">
        {% csrf_token %}
        <div id="" class="margin-center vi" style="margin-top: 100px;">
        <div class="jb-black" class="centered">CCTV 어린이 보호구역</div>
            <legend class="jb-black" class="screen_out">회원가입 정보 입력</legend>
            <div class="box_join">
                <div class ="inp_text">
                    <label class="jb-black" for="user_id">아이디 : </label>
                    <input id="user_id" name="user_id" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"/><br />
                </div> 
                <div class ="inp_text">
                    <label class="jb-black" for="name">이름 : </label>
                    <input id="name" name="name" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"/><br />
                </div>
                <div class ="inp_text">
                    <label class="jb-black" for="password">암호 : </label>
                    <input type="password" name="password" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"/><br />
                </div>
                <div class ="inp_text">
                    <label class="jb-black" for="password1">암호확인 : </label>
                    <input type="password" name="password1" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"/><br />
                </div>
                <div class ="inp_text">
                    <label class="jb-black" for="gender">성별 : </label>
                    <input type="radio" name="gender" value="male">남자
                    <input type="radio" name="gender" value="female">여자
                </div>
                <div class ="inp_text">
                    <label class="jb-black" for="age">나이 : </label>
                    <input id="age" name="age" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"/><br />
                </div>
                <div class ="inp_text">
                    <label class="jb-black" for="home">주소 : </label>
                    <input id="home" name="home" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;"/><br />
                </div>
            </div>
        <input type="submit" value="회원가입" />  
    </form>
    </div>
</body>
</html>