{% include "../header.html" %}
<style>
    img {
        max-width: 100%;
        width: 1950px;
        height : 300px;
    }
</style>
    {% include "../navbar.html" %}
    <img src ="http://www.mindforest.kr/resources/Sailor/img/slides/flexslider/2.jpg">
    <div style = "padding:10px;">  
        <button type = "button" style= "width: 250pt; height:50pt; " name = "btn1" ><a href="/cctv/main/myscrap">기사스크랩</a></button>
    </div>
    <div style = "padding:10px;">  
        <button type = "button" style= "width: 250pt; height:50pt; " name = "btn2" ><a href="/cctv/main/myfav">관심지역</a></button>
    </div>
</body>