{% include "../header.html" %}
{% include "../navbar.html" %}
    
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="border:2px solid #F0F;">
        <h1 class="display-7">도 별 어린이 보호구역 정보</h1>
        <p class="lead">도 별로 어린이 보호구역에 관련된 차트와 정보를 볼 수 있습니다</p>
      </div>
      <div class="box1">
        <img src="{{graph1}}" />
        <img src="{{graph2}}" />
      </div>
      <div class="box2">
        {% for one in small_list %}
        <!-- <button onclick="location.href='/cctv/chart/seoul'" class="btn btn-outline-primary">{{one}}</button> <br/> -->
        <div class="box3">
          <button onclick="location.href='/cctv/chart/small?big={{big}}&small={{one.0}}'" type="button" class="btn btn-success">{{one.0}}</button>
        </div>
        <div class="box4">
          {% if one.1 %}
            <button onclick="location.href='/cctv/chart/small?big={{big}}&small={{one.1}}'" type="button" class="btn btn-success">{{one.1}}</button>
          {% endif %}
        </div>
        <div style="margin-top: 12px;"></div>
        {% endfor %}
      </div>
</body>
</html>