{% include "../header.html" %}
{% include "../navbar.html" %}
<div style="position: relative;">

  <img src ={{image}} width="1250" height="500" style="margin-left: auto; margin-right: auto; display: block;"></img>
  <div style= "left: 1250px; width: 450px; height: 300px; top: 40px; bottom: 365px; font-size: 1.8em; font-weight: bold; position: absolute; color: white;">
    {{big}} {{small}}
    <h3></h3>
    어린이 보호구역 정보
  </div>
      <div class="box1">
        <hr style="margin-left: 13%; width: 1250px;"></hr>
        <img src="{{graph1}}" style="width:100% ;margin-left: 0%; margin-right: auto; margin-bottom: 100px; margin-top: 100px; display: outside;"/>
        <hr style="margin-left: 13%; width: 1250px;"></hr>
        <img src="{{graph2}}" style="width:100% ;margin-left: 0%; margin-right: auto; margin-bottom: 100px; margin-top: 100px; display: outside;"/>
      </div>
      <div class="box2">
        {% for one in small_list %}
        <div class="box3">
          <button onclick="location.href='/cctv/chart/small?big={{big}}&small={{one.0}}'" type="button" class="btn btn-warning">{{one.0}}</button>
        </div>
        <div class="box4">
          {% if one.1 %}
            <button onclick="location.href='/cctv/chart/small?big={{big}}&small={{one.1}}'" type="button" class="btn btn-warning">{{one.1}}</button>
          {% endif %}
        </div>
        <div style="margin-top: 12px;"></div>
        {% endfor %}
      </div>
</body>
</html>